In [3]:
# IPython analysis: inspect large NPY and CSV files safely
# Prints are in English. Comments are in Korean.
# 주의: 대용량 파일은 전체 로딩하지 않고 앞부분 샘플만 사용하여 통계를 계산합니다.

import numpy as np
import pandas as pd
from pathlib import Path

# 설정
SAMPLE_N = 1000  # 각 NPY 앞부분 샘플 크기
BASE = Path("..")

# 점검 대상 파일 목록
targets_npy = [
    ("X_lstm_gas", BASE / "data" / "processed" / "X_lstm_gas.npy"),
    ("y_lstm_gas", BASE / "data" / "processed" / "y_lstm_gas.npy"),
    ("X_lstm_hotwater", BASE / "data" / "processed" / "X_lstm_hotwater.npy"),
    ("y_lstm_hotwater", BASE / "data" / "processed" / "y_lstm_hotwater.npy"),
    ("X_lstm_steam", BASE / "data" / "processed" / "X_lstm_steam.npy"),
    ("y_lstm_steam", BASE / "data" / "processed" / "y_lstm_steam.npy"),
    ("x_lstm_chilledwater", BASE / "data" / "processed" / "x_lstm_chilledwater.npy"),
    ("y_lstm_chilledwater", BASE / "data" / "processed" / "y_lstm_chilledwater.npy"),
    ("x_lstm_electricity", BASE / "data" / "processed" / "y_lstm_electricity.npy"),
    ("y_lstm_electricity", BASE / "data" / "processed" / "y_lstm_electricity.npy"),
]

target_csv = ("preds_all", BASE / "results" / "preds_all.csv")

def sample_stats_from_path(path, sample_n=1000):
    """파일 경로에서 mmap으로 shape만 읽고, 앞부분만 샘플로 통계 계산"""
    mm = np.load(path, mmap_mode="r")  # 전체 메모리 로딩 회피
    shape = mm.shape
    n = shape[0] if shape else 0
    k = min(n, sample_n)
    sample = mm[:k]

    stats = {
        "shape": shape,
        "sample_n": int(k),
        "min": float(np.nanmin(sample)),
        "max": float(np.nanmax(sample)),
        "mean": float(np.nanmean(sample)),
        "std": float(np.nanstd(sample)),
    }

    # 2차원 배열이면 열별 통계도 간단히 제공
    if sample.ndim == 2 and sample.shape[1] <= 8:
        stats["col_means"] = [float(x) for x in np.nanmean(sample, axis=0).tolist()]
        stats["col_stds"] = [float(x) for x in np.nanstd(sample, axis=0).tolist()]

    # 3차원 배열이면 첫 시퀀스의 앞 타임스텝과 일부 피처를 미리보기로 제공
    if sample.ndim == 3:
        preview = sample[0, : min(3, sample.shape[1]), : min(5, sample.shape[2])]
        stats["preview_first_seq"] = preview.tolist()
    return stats

# NPY 요약 수집
rows = []
for name, path in targets_npy:
    info = {"name": name, "exists": path.exists(), "path": str(path)}
    if not path.exists():
        info["error"] = "File not found"
    else:
        try:
            s = sample_stats_from_path(path, SAMPLE_N)
            info.update(s)
        except Exception as e:
            info["error"] = f"{type(e).__name__}: {e}"
    rows.append(info)

npy_df = pd.DataFrame(rows)
print("NPY summary")
display(npy_df)

# CSV 요약
if target_csv[1].exists():
    df = pd.read_csv(target_csv[1])
    print("preds_all.csv head")
    display(df.head(20))

    # 숫자 열 기본 통계
    num_cols = [c for c in df.columns if pd.api.types.is_numeric_dtype(df[c])]
    if num_cols:
        print("preds_all.csv numeric describe")
        display(df[num_cols].describe().T)

    # y_true, y_pred 집중 점검
    focus = ["y_true", "y_pred"]
    if set(focus).issubset(df.columns):
        print("y_true and y_pred describe")
        display(df[focus].describe().T)
else:
    print("preds_all.csv not found")

NPY summary

/home/journey/Desktop/MSc_Project/EcoBuildiq/venv/lib/python3.12/site-packages/numpy/_core/_methods.py:51: RuntimeWarning: overflow encountered in reduce
  return umr_sum(a, axis, dtype, out, keepdims, initial, where)

,name,exists,path,shape,sample_n,min,max,mean,std,preview_first_seq,col_means,col_stds,error
0,X_lstm_gas,True,../data/processed/X_lstm_gas.npy,"(14821, 48, 13)",1000.0,-1.967773,3.564453,inf,inf,"[[0.5029296875, 1.3779296875, 0.34619140625, -...",NaN,NaN,NaN
1,y_lstm_gas,True,../data/processed/y_lstm_gas.npy,"(14821, 2)",1000.0,0.000000,2879.182861,1.350569e+01,1.098699e+02,NaN,"[12.88477611541748, 14.126591682434082]","[155.28045654296875, 5.473419666290283]",NaN
2,X_lstm_hotwater,True,../data/processed/X_lstm_hotwater.npy,"(59828, 48, 13)",1000.0,-5.742188,4.765625,inf,inf,"[[-2.529296875, -2.11328125, 2.71484375, 0.883...",NaN,NaN,NaN
3,y_lstm_hotwater,True,../data/processed/y_lstm_hotwater.npy,"(59828, 2)",1000.0,-12.800000,5791.677246,9.992674e+01,4.482293e+02,NaN,"[190.7774200439453, 9.07610034942627]","[620.6821899414062, 7.9859795570373535]",NaN
4,X_lstm_steam,True,../data/processed/X_lstm_steam.npy,"(160805, 48, 13)",1000.0,-5.675781,16.890625,7.250977e-02,inf,"[[-1.1376953125, -0.68212890625, -0.0867309570...",NaN,NaN,NaN
5,y_lstm_steam,True,../data/processed/y_lstm_steam.npy,"(160805, 2)",1000.0,-15.000000,584647.437500,2.298408e+04,7.102323e+04,NaN,"[45963.66796875, 4.4395036697387695]","[95039.375, 6.509329319000244]",NaN
6,x_lstm_chilledwater,False,../data/processed/x_lstm_chilledwater.npy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,File not found
7,y_lstm_chilledwater,True,../data/processed/y_lstm_chilledwater.npy,"(260762, 2)",1000.0,-10.000000,65250.000000,1.345322e+03,6.080553e+03,NaN,"[2693.629638671875, -2.9834072589874268]","[8385.1259765625, 4.557618141174316]",NaN
8,x_lstm_electricity,True,../data/processed/y_lstm_electricity.npy,"(451099, 2)",1000.0,-16.700001,298654.281250,2.684852e+03,1.806233e+04,NaN,"[5369.41015625, 0.2920995354652405]","[25260.306640625, 7.404330730438232]",NaN
9,y_lstm_electricity,True,../data/processed/y_lstm_electricity.npy,"(451099, 2)",1000.0,-16.700001,298654.281250,2.684852e+03,1.806233e+04,NaN,"[5369.41015625, 0.2920995354652405]","[25260.306640625, 7.404330730438232]",NaN

preds_all.csv head

     meter_type  seq_index      y_true       y_pred
0   electricity          0    0.000000  -503.166016
1   electricity          1    0.000000  -277.533203
2   electricity          2    0.000000  -567.925781
3   electricity          3    0.000000   273.468750
4   electricity          4  162.642395  -530.744141
5   electricity          5    0.000000   271.255859
6   electricity          6    0.000000   448.353516
7   electricity          7  239.636002  1572.355469
8   electricity          8  158.194901  1022.667969
9   electricity          9   12.890000  1630.423828
10  electricity         10    0.000000  2034.287109
11  electricity         11    4.687300  3234.130859
12  electricity         12  633.501099  2560.654297
13  electricity         13   20.654800  2385.224609
14  electricity         14   44.052799  2659.179688
15  electricity         15  180.459396  1189.617188
16  electricity         16    0.000000  1849.421875
17  electricity         17   59.985901  -297.265625
18  electricity         18    9.028800  -207.156250
19  electricity         19    0.000000  1685.378906

preds_all.csv numeric describe

,count,mean,std,min,25%,50%,75%,max
seq_index,947315.0,158945.799855,121715.064235,0.000000,55501.50000,133002.000000,237515.500000,451098.00
y_true,947315.0,19341.570089,89973.859311,0.000000,2.84480,117.949203,757.081970,2504613.50
y_pred,947315.0,18152.008727,36686.243752,-96910.085938,987.16095,4069.396484,25371.802734,2501333.25

y_true and y_pred describe

,count,mean,std,min,25%,50%,75%,max
y_true,947315.0,19341.570089,89973.859311,0.000000,2.84480,117.949203,757.081970,2504613.50
y_pred,947315.0,18152.008727,36686.243752,-96910.085938,987.16095,4069.396484,25371.802734,2501333.25

In [1]:
import pandas as pd

# 파일 경로
# file_path = "../data/processed/merged_energy_weather.parquet"
file_path = "../data/processed/office_data_merged.parquet"

# 데이터 읽기 (처음 10줄만 표시)
df = pd.read_parquet(file_path)
df.head(50)

,timestamp,building_id,meter_type,value,source,site_id,square_feet,year_built,air_temperature,dew_temperature,wind_speed,cloud_coverage,precip_depth_1_hr,sea_level_pressure,wind_direction,is_weekend,hour_sin,hour_cos,dow_sin,dow_cos
0,2016-01-01,9,electricity,0.000000,ASHRAE,0,27000.0,2010.0,25.0,20.0,0.0,6.0,NaN,1019.700012,0.0,0,0.0,1.0,-0.433884,-0.900969
1,2016-01-01,Eagle_office_Yadira,chilledwater,0.000000,BDG2,Eagle,162549.0,NaN,4.4,-2.2,4.1,NaN,0.0,1018.900024,300.0,0,0.0,1.0,-0.433884,-0.900969
2,2016-01-01,Eagle_office_Sonya,chilledwater,0.000000,BDG2,Eagle,87200.0,NaN,4.4,-2.2,4.1,NaN,0.0,1018.900024,300.0,0,0.0,1.0,-0.433884,-0.900969
3,2016-01-01,Eagle_office_Henriette,chilledwater,50101.804688,BDG2,Eagle,23481.0,NaN,4.4,-2.2,4.1,NaN,0.0,1018.900024,300.0,0,0.0,1.0,-0.433884,-0.900969
4,2016-01-01,Eagle_office_Mandi,chilledwater,42904.042969,BDG2,Eagle,8836.0,NaN,4.4,-2.2,4.1,NaN,0.0,1018.900024,300.0,0,0.0,1.0,-0.433884,-0.900969
5,2016-01-01,Eagle_office_Ryan,chilledwater,13657.108398,BDG2,Eagle,22524.0,NaN,4.4,-2.2,4.1,NaN,0.0,1018.900024,300.0,0,0.0,1.0,-0.433884,-0.900969
6,2016-01-01,Eagle_office_Lamont,chilledwater,28657.888672,BDG2,Eagle,15649.0,NaN,4.4,-2.2,4.1,NaN,0.0,1018.900024,300.0,0,0.0,1.0,-0.433884,-0.900969
7,2016-01-01,Hog_office_Denita,chilledwater,0.000000,BDG2,Hog,94988.0,NaN,-7.2,-10.6,5.7,8.0,0.0,1022.900024,280.0,0,0.0,1.0,-0.433884,-0.900969
8,2016-01-01,Hog_office_Garrett,chilledwater,4.687300,BDG2,Hog,305047.0,NaN,-7.2,-10.6,5.7,8.0,0.0,1022.900024,280.0,0,0.0,1.0,-0.433884,-0.900969
9,2016-01-01,Hog_office_Richelle,chilledwater,2.636600,BDG2,Hog,99946.0,NaN,-7.2,-10.6,5.7,8.0,0.0,1022.900024,280.0,0,0.0,1.0,-0.433884,-0.900969
10,2016-01-01,Hog_office_Vera,chilledwater,0.000000,BDG2,Hog,91316.0,NaN,-7.2,-10.6,5.7,8.0,0.0,1022.900024,280.0,0,0.0,1.0,-0.433884,-0.900969
11,2016-01-01,Hog_office_Cortney,chilledwater,0.000000,BDG2,Hog,106511.0,NaN,-7.2,-10.6,5.7,8.0,0.0,1022.900024,280.0,0,0.0,1.0,-0.433884,-0.900969
12,2016-01-01,Hog_office_Emmanuel,chilledwater,0.000000,BDG2,Hog,20444.0,NaN,-7.2,-10.6,5.7,8.0,0.0,1022.900024,280.0,0,0.0,1.0,-0.433884,-0.900969
13,2016-01-01,Hog_office_Byron,chilledwater,141.057297,BDG2,Hog,861524.0,NaN,-7.2,-10.6,5.7,8.0,0.0,1022.900024,280.0,0,0.0,1.0,-0.433884,-0.900969
14,2016-01-01,Hog_office_Eloise,chilledwater,0.000000,BDG2,Hog,122922.0,NaN,-7.2,-10.6,5.7,8.0,0.0,1022.900024,280.0,0,0.0,1.0,-0.433884,-0.900969
15,2016-01-01,Hog_office_Myles,chilledwater,12.304100,BDG2,Hog,79782.0,NaN,-7.2,-10.6,5.7,8.0,0.0,1022.900024,280.0,0,0.0,1.0,-0.433884,-0.900969
16,2016-01-01,Hog_office_Darlene,chilledwater,12.890000,BDG2,Hog,121714.0,NaN,-7.2,-10.6,5.7,8.0,0.0,1022.900024,280.0,0,0.0,1.0,-0.433884,-0.900969
17,2016-01-01,Hog_office_Catalina,chilledwater,0.000000,BDG2,Hog,52748.0,NaN,-7.2,-10.6,5.7,8.0,0.0,1022.900024,280.0,0,0.0,1.0,-0.433884,-0.900969
18,2016-01-01,Hog_office_Darline,chilledwater,317.561707,BDG2,Hog,16805.0,NaN,-7.2,-10.6,5.7,8.0,0.0,1022.900024,280.0,0,0.0,1.0,-0.433884,-0.900969
19,2016-01-01,Hog_office_Gustavo,chilledwater,0.000000,BDG2,Hog,70852.0,NaN,-7.2,-10.6,5.7,8.0,0.0,1022.900024,280.0,0,0.0,1.0,-0.433884,-0.900969
20,2016-01-01,Hog_office_Rolando,chilledwater,158.194901,BDG2,Hog,194111.0,NaN,-7.2,-10.6,5.7,8.0,0.0,1022.900024,280.0,0,0.0,1.0,-0.433884,-0.900969
21,2016-01-01,Hog_office_Charla,chilledwater,7.030900,BDG2,Hog,102191.0,NaN,-7.2,-10.6,5.7,8.0,0.0,1022.900024,280.0,0,0.0,1.0,-0.433884,-0.900969
22,2016-01-01,Hog_office_Simon,chilledwater,0.000000,BDG2,Hog,27452.0,NaN,-7.2,-10.6,5.7,8.0,0.0,1022.900024,280.0,0,0.0,1.0,-0.433884,-0.900969
23,2016-01-01,Hog_office_Betsy,chilledwater,182.802994,BDG2,Hog,249457.0,NaN,-7.2,-10.6,5.7,8.0,0.0,1022.900024,280.0,0,0.0,1.0,-0.433884,-0.900969
24,2016-01-01,Eagle_office_Nereida,chilledwater,13676.480469,BDG2,Eagle,115676.0,NaN,4.4,-2.2,4.1,NaN,0.0,1018.900024,300.0,0,0.0,1.0,-0.433884,-0.900969
25,2016-01-01,Hog_office_Elnora,chilledwater,239.636002,BDG2,Hog,105167.0,NaN,-7.2,-10.6,5.7,8.0,0.0,1022.900024,280.0,0,0.0,1.0,-0.433884,-0.900969
26,2016-01-01,Hog_office_Mary,chilledwater,0.000000,BDG2,Hog,53077.0,NaN,-7.2,-10.6,5.7,8.0,0.0,1022.900024,280.0,0,0.0,1.0,-0.433884,-0.900969
27,2016-01-01,Hog_office_Leanne,chilledwater,0.000000,BDG2,Hog,82302.0,NaN,-7.2,-10.6,5.7,8.0,0.0,1022.900024,280.0,0,0.0,1.0,-0.433884,-0.900969
28,2016-01-01,Hog_office_Josefina,chilledwater,0.000000,BDG2,Hog,157545.0,NaN,-7.2,-10.6,5.7,8.0,0.0,1022.900024,280.0,0,0.0,1.0,-0.433884,-0.900969
29,2016-01-01,Hog_office_Nancie,chilledwater,0.000000,BDG2,Hog,89858.0,NaN,-7.2,-10.6,5.7,8.0,0.0,1022.900024,280.0,0,0.0,1.0,-0.433884,-0.900969
30,2016-01-01,Hog_office_Shon,chilledwater,0.000000,BDG2,Hog,84365.0,NaN,-7.2,-10.6,5.7,8.0,0.0,1022.900024,280.0,0,0.0,1.0,-0.433884,-0.900969
31,2016-01-01,Hog_office_Corie,chilledwater,35.154400,BDG2,Hog,119509.0,NaN,-7.2,-10.6,5.7,8.0,0.0,1022.900024,280.0,0,0.0,1.0,-0.433884,-0.900969
32,2016-01-01,Hog_office_Elke,chilledwater,0.000000,BDG2,Hog,103718.0,NaN,-7.2,-10.6,5.7,8.0,0.0,1022.900024,280.0,0,0.0,1.0,-0.433884,-0.900969
33,2016-01-01,Eagle_office_Efrain,chilledwater,59506.453125,BDG2,Eagle,43007.0,NaN,4.4,-2.2,4.1,NaN,0.0,1018.900024,300.0,0,0.0,1.0,-0.433884,-0.900969
34,2016-01-01,Eagle_office_Jeff,chilledwater,0.000000,BDG2,Eagle,17077.0,NaN,4.4,-2.2,4.1,NaN,0.0,1018.900024,300.0,0,0.0,1.0,-0.433884,-0.900969
35,2016-01-01,Eagle_office_Chantelle,chilledwater,24427.203125,BDG2,Eagle,23702.0,NaN,4.4,-2.2,4.1,NaN,0.0,1018.900024,300.0,0,0.0,1.0,-0.433884,-0.900969
36,2016-01-01,Eagle_office_Patrice,chilledwater,14179.537109,BDG2,Eagle,129707.0,NaN,4.4,-2.2,4.1,NaN,0.0,1018.900024,300.0,0,0.0,1.0,-0.433884,-0.900969
37,2016-01-01,Eagle_office_Marisela,chilledwater,165568.906250,BDG2,Eagle,90411.0,NaN,4.4,-2.2,4.1,NaN,0.0,1018.900024,300.0,0,0.0,1.0,-0.433884,-0.900969
38,2016-01-01,Cockatoo_office_Jimmy,chilledwater,5.974100,BDG2,Cockatoo,14744.0,1910.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.0,1.0,-0.433884,-0.900969
39,2016-01-01,Cockatoo_office_Rodney,chilledwater,8.025100,BDG2,Cockatoo,46981.0,1962.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.0,1.0,-0.433884,-0.900969
40,2016-01-01,Cockatoo_office_Delores,chilledwater,8.606800,BDG2,Cockatoo,84615.0,1963.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.0,1.0,-0.433884,-0.900969
41,2016-01-01,Cockatoo_office_Kristin,chilledwater,23.707399,BDG2,Cockatoo,49553.0,1963.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.0,1.0,-0.433884,-0.900969
42,2016-01-01,Eagle_office_Remedios,chilledwater,109692.515625,BDG2,Eagle,51471.0,NaN,4.4,-2.2,4.1,NaN,0.0,1018.900024,300.0,0,0.0,1.0,-0.433884,-0.900969
43,2016-01-01,Cockatoo_office_Elbert,chilledwater,2.549000,BDG2,Cockatoo,40611.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.0,1.0,-0.433884,-0.900969
44,2016-01-01,Cockatoo_office_Pansy,chilledwater,17.937300,BDG2,Cockatoo,87977.0,1947.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.0,1.0,-0.433884,-0.900969
45,2016-01-01,Cockatoo_office_Paige,chilledwater,13.591600,BDG2,Cockatoo,130794.0,1933.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.0,1.0,-0.433884,-0.900969
46,2016-01-01,Cockatoo_office_Lorraine,chilledwater,48.735500,BDG2,Cockatoo,11524.0,1994.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.0,1.0,-0.433884,-0.900969
47,2016-01-01,Cockatoo_office_Alton,chilledwater,54.327202,BDG2,Cockatoo,42755.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.0,1.0,-0.433884,-0.900969
48,2016-01-01,Cockatoo_office_Laila,chilledwater,0.000000,BDG2,Cockatoo,110380.0,1985.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.0,1.0,-0.433884,-0.900969
49,2016-01-01,Cockatoo_office_Gail,chilledwater,86.066101,BDG2,Cockatoo,31316.0,1913.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.0,1.0,-0.433884,-0.900969